<header id="sticktop" class="doc-header">

  <!--========================================
  Radio Stream
  ===========================================-->
  <div id="audio-player-radio" class="jp-radioPlayer" data-radio-url="http://listen.radionomy.com/abc-jazz" data-title="Streaming Radio Station ABC Jazz">
    <div class="container">
      <div id="player-instance-radio" class="jp-jplayer"></div>
      <div class="controls jp-controls-holder">
        <div class="play-pause jp-play pc-play"></div>
        <div class="play-pause jp-pause fa pc-pause" style=" display:none"></div>
      </div>
      <div class="jp-volume-controls">
        <button class="sound-control pc-volume jp-mute"></button>
        <button class="sound-control pc-mute jp-unmute"></button>
        <div class="jp-volume-bar" style="display: none;">
          <div class="jp-volume-bar-value" style="width: 1.4737%;"></div>
        </div>
      </div>


      <div class="music_pseudo_bars">
        <div class="music_pseudo_bar"></div>
        <div class="music_pseudo_bar"></div>
        <div class="music_pseudo_bar"></div>
        <div class="music_pseudo_bar"></div>
        <div class="music_pseudo_bar"></div>
        <div class="music_pseudo_bar"></div>
        <div class="music_pseudo_bar"></div>
        <div class="music_pseudo_bar"></div>
        <div class="music_pseudo_bar"></div>
        <div class="music_pseudo_bar"></div>
        <div class="music_pseudo_bar"></div>
        <div class="music_pseudo_bar"></div>
        <div class="music_pseudo_bar"></div>
        <div class="music_pseudo_bar"></div>
        <div class="music_pseudo_bar"></div>
        <div class="music_pseudo_bar"></div>
        <div class="music_pseudo_bar"></div>
        <div class="music_pseudo_bar"></div>
        <div class="music_pseudo_bar"></div>
        <div class="music_pseudo_bar"></div>
      </div>
    </div>
  </div>


  <!--========================================
  Nav
  ===========================================-->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">
          <img src="assets/img/basic/logo.png" alt=""/>
        </a>
      </div>

      <div id="dl-menu" class="radio-style xv-menuwrapper responsive-menu">
        <button class="menuTrigger"><i class="fa fa-navicon"></i></button>
        <div class="clearfix"></div>
        <ul class="dl-menu">

          <li><a href=""> درباره ما </a></li>
          <li><a id="store_music" href="#yourself-music">ثبت آهنگ خودتان  </a></li>
          <li><a href="/music1/store.php">حمایت از خوانندگان</a></li>
          <li><a href="/music1/blog.php">وبلاگ</a></li>
          <li><a href="/music1/albums.php"> آلبوم ها</a></li>
          <li><a href="/music1/index.php"> خانه</a></li>



        </ul>
      </div><!-- /dl-menuwrapper -->
    </div>
  </nav>
</header>
